rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /menus/{menuId} {
      // allow creating your own menu
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;

      // allow reading/updating/deleting your own menu
      allow read, update, delete: if request.auth != null
                    && request.auth.uid == resource.data.userId;
    }
  }
}