rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /menus/{menuId} {
      // allow creating your own menu
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;

      // allow reading/updating/deleting your own menu
      allow read, update, delete: if request.auth != null
                    && request.auth.uid == resource.data.userId;
    }

    match /quotations/{quotationId} {
      // allow anyone to read quotations
      allow read: if true;
      // allow creating your own quotation
      allow create: if request.auth != null;
      // allow updating/deleting your own quotation
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}